<h1>Edit Status</h1>

<%= form_for @status do |f| %>

  <%= f.label :user %>
  <%= f.text_field :user %>

  <%= f.label :post %>
  <%= f.text_field :post %>

  <%= f.label :likes %>
  <%= f.text_field :likes %>

  <%= f.submit %>

<% end %>
